<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# "My Jupyter Notebook on IBM Watson Studio"

**Clinton Tanaka Pikita**

*"I am interested in Data Science because, with data science I can help to make more data-driven decisions. Not only that I hope to use Data science to solve problems relating to Education, Health, and Climate Change within my continent."*

### The code below is supposed to perform simple addition

In [4]:
12+12

24

###### Do you know how to insert a horizontal line? Simple just add three or more hyphens, asterisks, or underscores. Watch below

---

##### Below is a table showing names and grades obtained by five students in Math, Science, and English.

 **Name** | **Math** | **Science** | **English**
   --- | --- | --- | ---
    John | 87 | 82 | 93
    Lisa | 67 | 75 | 90
    Mark | 88 | 89 | 75
    Ruth |75  | 72 | 88
    Rita | 76 | 72 | 80

~~I hate data science~~